# Eclipse
.classpath
.project
.settings/

# Maven
/target/

# Allure and reporting
/.allure/
/target/allure-results/
/allure-results/

# IDE
/.idea/
*.iml

# Test data
/src/test/resources/TestData/TestData.xlsx
*.xlsx

# OS
Thumbs.db
.DS_Store

# Logs
*.log

# Other
*.class
